<footer class="footer">
    <div class="container-fluid" style="margin-bottom: 1em;">
        <div class="col" style="margin: 0 auto; width: 15em;">
            <div class="row-sm" style="margin-bottom: 0.3em">
                © 2018 Aelve, Inc
            </div>
            <div class="row-sm" style="margin-bottom: 0.3em">
                Created by <a href="https://artyom.me">Artyom</a> and <a href="https://github.com/vlad107">Vlad</a>
            </div>
            <div class="row-sm">
                <a href="https://github.com/aelve/codesearch">Source at github</a>
            </div>
        </div>
    </div>
</footer>
