@(updated: String)

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">

        <title>Haskell</title>
    </head>
    <body>
        <main class="wrapper">
            @searchBox("/haskell/search", "", insensitive = false, precise = false, sources = true)
            @docFrame()
        </main>
    </body>
</html>