@import codesearch.web.controllers.LangInfo
@(hackageInfo: LangInfo, cratesInfo: LangInfo, gemInfo: LangInfo, npmInfo: LangInfo)

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/common.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/index.css")">

        <title>Codesearch</title>
    </head>
    <body>
        <div class="container">
            <main>
                <div class="header">
                    <h1>Aelve Codesearch</h1>
                    <div class="subtitle">
                        grep over package repositories
                    </div>
                </div>
                <div class="list">
                    <div class="item">
                        <div class="lang">
                            <a href="/haskell"><h2>Haskell</h2></a>
                            <a href="https://hackage.haskell.org"><div class="subtitle">
                                hackage.haskell.org
                            </div></a>
                        </div>
                        <div class="info">
                            @{hackageInfo.totalPackages} packages<br>
                            Last updated: @{hackageInfo.updatedAgo}
                        </div>
                    </div>
                    <div class="item">
                        <div class="lang">
                            <a href="/rust"><h2>Rust</h2></a>
                            <a href="https://crates.io"><div class="subtitle">
                                crates.io
                            </div></a>
                        </div>
                        <div class="info">
                            @{cratesInfo.totalPackages} packages<br>
                            Last updated: @{cratesInfo.updatedAgo}
                        </div>
                    </div>
                    <div class="item">
                        <div class="lang">
                            <a href="/ruby"><h2>Ruby</h2></a>
                            <a href="https://rubygems.org"><div class="subtitle">
                                rubygems.org
                            </div></a>
                        </div>
                        <div class="info">
                            @{gemInfo.totalPackages} packages<br>
                            Last updated: @{gemInfo.updatedAgo}
                        </div>
                    </div>
                    <div class="item">
                        <div class="lang">
                            <a href="/js"><h2>JavaScript</h2></a>
                            <span class="text-secondary">in progress</span>
                            <a href="https://npmjs.com"><div class="subtitle">
                                npmjs.com
                            </div></a>
                        </div>
                        <div class="info">
                            @{npmInfo.totalPackages} packages<br>
                            Last updated: @{npmInfo.updatedAgo}
                        </div>
                    </div>
                </div>
            <main>
        </div>
        @footer()
    </body>
</html>
