@import codesearch.web.controllers.LangInfo
@(hackageInfo: LangInfo, cratesInfo: LangInfo, gemInfo: LangInfo, npmInfo: LangInfo)

@headExtra = {
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/index.css")">
}

@wrapper("Codesearch", headExtra){
    <div class="list">
        <div class="item">
            <div class="lang">
                <h2><a href="/haskell">Haskell</a></h2>
                <div class="subtitle">
                    <a href="https://hackage.haskell.org">hackage.haskell.org</a>
                </div>
            </div>
            <div class="info">
                @{hackageInfo.totalPackages} packages<br>
                Last updated: @{hackageInfo.updatedAgo}
            </div>
        </div>
        <div class="item">
            <div class="lang">
                <h2><a href="/rust">Rust</a></h2>
                <div class="subtitle">
                    <a href="https://crates.io">crates.io</a>
                </div>
            </div>
            <div class="info">
                @{cratesInfo.totalPackages} packages<br>
                Last updated: @{cratesInfo.updatedAgo}
            </div>
        </div>
        <div class="item">
            <div class="lang">
                <h2><a href="/ruby">Ruby</a></h2>
                <div class="subtitle">
                    <a href="https://rubygems.org">rubygems.org</a>
                </div>
            </div>
            <div class="info">
                @{gemInfo.totalPackages} packages<br>
                Last updated: @{gemInfo.updatedAgo}
            </div>
        </div>
        <div class="item">
            <div class="lang">
                <h2><a href="/js">JavaScript</a></h2>
                <span class="text-secondary">in progress</span>
                <div class="subtitle">
                    <a href="https://npmjs.com">npmjs.com</a>
                </div>
            </div>
            <div class="info">
                @{npmInfo.totalPackages} packages<br>
                Last updated: @{npmInfo.updatedAgo}
            </div>
        </div>
    </div>
}
