@import codesearch.core.index.PackageResult
@import codesearch.core.util.Helper
@import scala.collection.mutable
@import scala.math.max
@(lang: String, precise: Boolean, query: String, updated: String, packages: Seq[PackageResult], totalMatches: Int)

<section class="container">
    <span class="text-secondary">Index updated @updated</span> <br>

    @{if (totalMatches > 1000) {
            <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">total matches: more than 1000</h4>
    } else {
            <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">total matches: {totalMatches}</h4>
    }}

    @for(pack <- packages) {
        <h5 class="display-7" style="margin-bottom: 0em; margin-top: 1em;"><a href=@pack.packageLink>@pack.name</a></h5>
        <span class="text-secondary" style="margin-bottom: 1em">@pack.results.size matches</span> <br>

        @for(result <- pack.results) {
            <a href=@(Helper.linkByLang(lang, pack.packageLink, result.fileLink))>@result.fileLink</a>
            <pre data-start=@{result.firstLine + 1}><code class="@("language-" + lang + " line-numbers")">@{
                val re = {
                    if (precise) {
                        Helper.hideSymbols(query)
                    } else {
                        query
                    }
                }.r
                val id = result.nLine - result.firstLine
                val hLine = result.ctxt(id)
                val matches = re.findAllMatchIn(hLine)
                var lastL = 0
                var lastR = 0
                val hRes = mutable.ListBuffer[Char]()

                matches.map(m => (m.start, m.end)).foreach { case (l, r) =>
                    if(lastR <= l) {
                        if (lastR != 0) {
                            hRes ++= "</mark>"
                        }
                        hRes ++= hLine.substring(lastR, l)
                        hRes ++= "<mark>"
                        hRes ++= hLine.substring(l, r)
                        lastL = l
                        lastR = r
                    } else {
                        hRes ++= hLine.substring(lastR, max(lastR, r))
                        lastR = max(lastR, r)
                    }
                }
                if (lastR != 0) {
                    hRes ++= "</mark>"
                }
                hRes ++= hLine.substring(lastR)
                val pref = result.ctxt.take(id).mkString("\n")
                val pref2 = {
                    if (pref.nonEmpty) {
                        pref ++ "\n"
                    } else {
                        ""
                    }
                }
                Html(pref2 ++ hRes ++ "\n" ++ result.ctxt.drop(id + 1).mkString("\n"))
            }</code></pre>
        }
    }
</section>
