@import codesearch.core.util.Helper
@import scala.collection.mutable
@import scala.collection.mutable.ListBuffer
@import scala.collection.immutable
@import play.twirl.api._
@import codesearch.core.search.Search.PackageResult
@import codesearch.web.SnippetHelper

@(
        lang: String,
        insensitive: Boolean,
        precise: Boolean,
        query: String,
        updated: String,
        packages: Seq[PackageResult],
        totalMatches: Int
)

<section class="container">
    <span class="text-secondary">Index updated @updated</span> <br>

    @{if (totalMatches > 1000) {
            <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">total matches: more than 1000</h4>
    } else {
            <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">total matches: {totalMatches}</h4>
    }}

    @for(pack <- packages) {
        <h5 class="display-7" style="margin-bottom: 0em; margin-top: 1em;"><a href=@pack.pack.packageLink>@pack.pack.name</a></h5>
        <span class="text-secondary" style="margin-bottom: 1em">@pack.results.size matches</span> <br>

        @for(result <- pack.results) {
            <a href="src/@result.fileLink?query=@{Helper.buildRegex(query = query,
                insensitive = insensitive, precise = precise)}&L=@{result.matchedLine + 1}#snippet.@{result.matchedLine + 1}">@result.relativePath</a>
            <pre data-start=@{result.numberOfFirstLine + 1}><code class="@("language-" + Helper.langByLink(result.fileLink, lang) +
                    " line-numbers")">@{
                val re = Helper.buildRegex(query = query, insensitive = insensitive, precise = precise)

                val id = result.matchedLine - result.numberOfFirstLine
                val hLine = result.ctxt(id)
                val matches = re.findAllMatchIn(hLine)

                val htmlBuilder: ListBuffer[Html] = mutable.ListBuffer.empty[Html]

                val pref = result.ctxt.take(id).mkString("\n")
                val pref2 = {
                    if (id != 0) {
                        pref ++ "\n"
                    } else {
                        ""
                    }
                }
                htmlBuilder.append(HtmlFormat.escape(pref2))

                htmlBuilder.append(SnippetHelper.markAllMatches(hLine, matches): _*)

                htmlBuilder.append(HtmlFormat.escape(result.ctxt.drop(id + 1).mkString("\n")))

                HtmlFormat.fill(immutable.Seq(htmlBuilder: _*))
            }</code></pre>
        }
    }
</section>
