@import codesearch.core.regex.RegexConstructor
@import codesearch.core.util.Helper
@import scala.collection.mutable
@import scala.collection.mutable.ListBuffer
@import scala.collection.immutable
@import play.twirl.api._
@import codesearch.core.search.Search.PackageResult
@import codesearch.web.SnippetHelper

@import java.net.URLEncoder
@(
        lang: String,
        insensitive: Boolean,
        space: Boolean,
        precise: Boolean,
        query: String,
        updated: String,
        packages: Seq[PackageResult],
        totalMatches: Int
)

@regex = @{
    RegexConstructor(query = query, space = space, insensitive = insensitive, precise = precise)
}

<section class="container">
    <span class="text-secondary">Index updated @updated</span> <br>

    @{
        if(totalMatches > 1000) {
                <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">total matches: more than 1000</h4>
        } else {
                <h4 class="display-7" style="margin-bottom: 0em; margin-top: 2em; text-align: left;">
                total matches:
                {totalMatches}
                </h4>
        }
    }

    @for(pack <- packages) {
        <h5 class="display-7" style="margin-bottom: 0em;
            margin-top: 1em;"><a href=@pack.pack.packageLink>@pack.pack.name</a></h5>
        <span class="text-secondary" style="margin-bottom: 1em">@pack.results.size matches</span>
        <br>

        @for(result <- pack.results) {

            <a href="src/@result.fileLink?query=@{
                URLEncoder.encode(regex, "UTF-8")
            }&L=@{
                result.matchedLines.head
            }#snippet.@{
                result.matchedLines.toVector.mkString(",")
            }">@result.relativePath</a>

            <pre data-start=@{
                result.numberOfFirstLine + 1
            }><code class="@("language-" + Helper.langByLink(result.fileLink, lang) + " line-numbers")">@{
                val ids = result.matchedLines.map(lineNumber => lineNumber - result.numberOfFirstLine)
                val html = result.lines.zipWithIndex.flatMap { case (line, index) =>
                    if(ids.exists(_ == index + 1)) {
                        val matches = regex.r.findAllMatchIn(line)
                        SnippetHelper.markAllMatches(line, matches)
                    } else {
                        Seq(HtmlFormat.escape(line + "\n"))
                    }
                }

                HtmlFormat.fill(html.to)
            }</code>
            </pre>
        }
    }
</section>
