@(updated: String)

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">

        <title>Rust</title>
    </head>
    <body>
        <section class="container">
            <div class="col-lg-6 mx-auto bg-white p-3 h6 justify-content-center">
                <form action="/rust/search" method="get">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search for...">
                        <span class="input-group-btn">
                            <input class="btn btn-secondary" type="submit" value="Go!">
                        </span>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="insensitive" id="insensitive-search">
                        <label class="form-check-label" for="insensitive-search">Case-insensitive search</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="precise" id="precise-match">
                        <label class="form-check-label" for="precise-match">Precise match</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="sources" id="sources-only" checked>
                        <label class="form-check-label" for="sources-only">Sources only</label>
                    </div>
                </form>
            </div>
            <span class="text-secondary">Index updated at: @updated</span>
            <pre class="lead h6"><a href="https://swtch.com/~rsc/regexp/regexp4.html">How it works</a></pre>
            <span class="lead h6">
                The regexp syntax is <a href="https://github.com/google/re2">RE2</a>'s:
                <ul><li>c (single character)</li><li>e? (zero or one)</li><li>e* (zero or more)</li><li>e+ (one or more)</li><li>e1 | e2 (alternation)</li><li>e1 e2 (concatenation)</li></ul>
            </span>
        </section>

    </body>
</html>