@import codesearch.core.search.Search.PackageResult

@(updated: String, packages: Seq[PackageResult], query: String, filter: Option[String], filePath: Option[String], insensitive: Boolean, space: Boolean,
        precise: Boolean, sources: Boolean, page: Int, totalMatches: Int, callURI: String, lang: String)

@headExtra = {
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com">

    <script src="@routes.Assets.versioned("prismjs.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/prismjs.css")">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/search.css")">
}

@wrapper(s"Codesearch | $lang", headExtra){
    @searchBox(s"/$lang/search", query, filter, filePath,  insensitive, space, precise, sources)
    @resultFrame(lang, insensitive, space, precise, query, updated, packages, totalMatches)
    @pagination(page, totalMatches, callURI)
}
