@(actSearch: String, query: String, filter: Option[String], insensitive: Boolean, space: Boolean, precise: Boolean, sources: Boolean)
<section class="container-fluid">
    <div class="col-lg-6 mx-auto p-3 h7 justify-content-center" style="position: relative;">
        <form>
            <div id="input-group" class="input-group" style="possition:relative;">
                <section id="warning" class="warning">Заполните это поле!</section>
                <input type="text" class="form-control" name="query" value="@query" id="query">
                <input type="text" class="form-control" name="filter" value="@filter" id="filter" placeholder="[Filter for query]">
                <span class="input-group-btn">
                    <input class="btn btn-secondary btn-send-from" id="btn-send-from" type="button" value="Go!">
                </span>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="insensitive" id="insensitive-search" @(if (insensitive) "checked")>
                <label class="form-check-label" for="insensitive-search">Case-insensitive search</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="space" id="space-insensitive" @(if (space) "checked")>
                <label class="form-check-label" for="space-insensitive">Space-insensitive search</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="precise" id="precise-match" @(if (precise) "checked")>
                <label class="form-check-label" for="precise-match">Precise match</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" name="sources" id="sources" @(if (sources) "checked")>
                <label class="form-check-label" for="sources">Sources only</label>
            </div>
        </form>
    </div>

</section>
<script>
        document.getElementById('warning').classList.remove('warning');
        const
            dQuery = document.getElementById('query'),
            inpFilter = document.getElementById("filter")

        function focusQueryInput() {

            dQuery.addEventListener('input', function(e){

                if(dQuery.value.length >= 1) {

                    document.getElementById('warning').classList.remove('warning')
                    dQuery.classList.remove('warn')
                }
            })
        }

        function FormValidate() {

            const sendArr = []

            this.query = dQuery.value
            this.filter = inpFilter.value

            this.inpCheck = document.querySelectorAll('input[type="checkbox"]')

            if (this.query != '') {

                sendArr.push(this.filter != '' ? 'query='+this.query+'&filter='+this.filter : 'query='+this.query)

                for (let i = 0; i < this.inpCheck.length; i++) {

                    if (this.inpCheck[i].checked) {
                        sendArr.push(`${this.inpCheck[i].getAttribute('name')}=on`)
                    } else {
                        sendArr.push(`${this.inpCheck[i].getAttribute('name')}=off`)
                    }
                }

                let arr = sendArr.join('&')

                document.location.href = document.location.pathname + '/search' + '?' + arr

                const pathname = document.location.pathname

                if(pathname.endsWith("/search"))
                    document.location.href = pathname + '?' + arr
                else
                    document.location.href = pathname + '/search' + '?' + arr

            } else {
                if (!document.getElementById('warning').classList.contains('warning')) {
                    document.getElementById('warning').classList.add('warning')
                    dQuery.classList.add('warn')
                }

            }
        }
        document.getElementById('btn-send-from').addEventListener('click', FormValidate)
        dQuery.addEventListener('click', focusQueryInput)
</script>
