@import codesearch.core.search.Search.{Response, ErrorResponse, SuccessResponse}
@(
response: Response
)

@headExtra = {
<script src="@routes.Assets.versioned(" prismjs.js")"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/prismjs.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/search.css")">
}

@response match {
    case SuccessResponse(updated, packages, query, filter, filePath, insensitive, space, precise, sources, page, totalMatches, callURI, lang) => {
        @wrapper(s"Codesearch | $lang", headExtra) {
            @searchBox(s"/$lang/search", query, filter, filePath, insensitive, space, precise, sources)
            @resultFrame(lang, insensitive, space, precise, query, updated, packages, totalMatches)
            @pagination(page, totalMatches, callURI)
        }
    }
    case ErrorResponse(message) => {
      @wrapper(s"Codesearch ", headExtra) {
          @searchBoxError(message)
      }
    }
  }
