@import codesearch.core.utilities.PackageResult

@(packages: Seq[PackageResult])

<!doctype html>

<html lang="en">

  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/main.css")">

    <title>Title</title>
  </head>

  <body>
      @for(pack <- packages) {
          <h3 class="display-6">@pack.verName : @pack.results.size occurrencies</h3> <br>

          @for(result <- pack.results) {
              <a href=@result.link>@result.link</a>:@result.nLine <br>
              @for(line <- result.ctxt) {
                  line
              }
              <br>
          }
          <br>
      }
  </body>

</html>
