@import codesearch.core.search.Search.PackageResult

@(
        updated: String,
        packages: Seq[PackageResult],
        query: String,
        filter: Option[String],
        filePath: Option[String],
        insensitive: Boolean,
        space: Boolean,
        precise: Boolean,
        sources: Boolean,
        withoutTests: Boolean,
        page: Int,
        totalMatches: Int,
        callURI: String,
        lang: String
)

    @headExtra = {
        <script src="@routes.Assets.versioned("prismjs.js")"></script>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/prismjs.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("css/search.css")">
    }

    @wrapper(s"Codesearch | $lang", headExtra) {
        @searchBox(s"/$lang/search", query, filter, filePath, insensitive, space, precise, sources, withoutTests)
        @resultFrame(lang, insensitive, space, precise, query, updated, packages, totalMatches)
        @pagination(page, totalMatches, callURI)
    }
