html {
    /* this is root font size; everything else (specified with "rem") depends on it */
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    /* for smaller screens, set font size based on screen size */
    html { font-size: 2vw }
}

body {
    /* let's use nicer fonts */
    font-family: Roboto, sans-serif;
    font-weight: 300;

    /* gray = "modern" */
    color: #333;
    background-color: #fafafa;
}

html,
body {
    min-height: 100%;
}

.subtitle {
    /* italics for subtitles */
    font-style: italic;
}

header {
    /* give the header space */
    margin-top: 4rem;
    margin-bottom: 3rem;

    /* center its contents */
    display: flex;
    justify-content: center;
}

header .wrapper {
    /* make it as wide as the content (i.e. the h1 inside) */
    display: inline-block;
}

header h1 {
    /* bigger, thinner header */
    font-size: 5rem;
    font-weight: 500;

    /* make the subtitle stick */
    margin-bottom: 0;

    /* never word-wrap */
    white-space: nowrap;
}

header h1 a[href] {
    /* the header shouldn't look like a link */
    color: inherit;
    text-decoration: none;
}

header .subtitle {
    /* the main subtitle should be bigger */
    font-size: 2rem;

    /* left-alignment everywhere is obnoxious */
    text-align: right;
}

p {
    /* slightly bigger font for paragraphs */
    font-size: 1.2rem;
}

footer {
    /* just a footer */
    position: absolute;
    bottom: 0;
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    background-color: #eae6e1;
}
