h2 {
    /* other subtitles should stick too */
    margin-bottom: 0;

    /* change header size */
    font-weight: 500;
    font-size: 2.5rem;

    /* add some red for contrast */
    color: #f44336;
    text-decoration-color: #f44336;

    /* don't have any extra vertical space; we have padding already */
    margin-top: 0;
    line-height: 100%;
}

h2 a[href] {
    /* links in subtitles should be red too */
    color: inherit;
    text-decoration-color: inherit;
}

.list {
    max-width: 700px;
    margin: auto;
}

.item {
    /* use flex to create "columns" inside list items */
    display: flex;

    padding: 2.5rem 3.5rem;
    font-size: 1.3rem;
}

.list > * {
    /* add rulers between items */
    border-bottom: 0.5px solid #aaa;
}
.list :last-child {
    /* except for the last item */
    border-bottom: none !important;
}

.item:hover {
    /* highlight items on hover */
    background-color: #f0f0f0;
}

.lang {
    /* set up the columns */
    width: 50%;
}

.info {
    /* vertically align the second column */
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 120%;
}
