/* fight weird background change in the default style */
.token.operator {
    background: inherit;
}

/* don't highlight lines with a gradient */
.line-highlight {
    background: hsla(24,20%,50%,.2);
}

/* fix line number alignment (see https://github.com/PrismJS/prism/issues/1132) */
pre.line-numbers code {
    display: inline-block;
}