.token.operator {
    /* fight weird background change in the default style */
    background: inherit;
}

.line-highlight {
    /* don't highlight lines with a gradient */
    background: hsla(24,20%,50%,.2);
}

pre.line-numbers {
    /* increase padding so that four-digit line numbers would fit */
    padding-left: 5em;
}

pre.line-numbers code {
    /* fix line number alignment (see https://github.com/PrismJS/prism/issues/1132) */
    display: inline-block;
}

mark {
    /* highlight marks with gray */
    background-color: rgba(0,0,0,0.1);
    /* don't add horizontal padding, it breaks monospace */
    padding: .2em 0;
    /* don't reset the color to black */
    color: inherit;
    /* make it easier to see where one mark ends and another begins */
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0.5px rgba(255,255,255,0.5) inset;
}

code[class*="language-"] {
    /* the shadow looks ugly when combined with marks */
    text-shadow: none !important;
}

h5 {
    /* add space between search results */
    margin-top: 2em;
}
