.token.operator {
    /* fight weird background change in the default style */
    background: none;
}

.line-highlight {
    /* don't highlight lines with a gradient */
    background: hsla(24,20%,50%,.2);
}

pre.line-numbers {
    /* increase padding so that four-digit line numbers would fit */
    padding-left: 5em;
}

pre.line-numbers code {
    /* fix line number alignment (see https://github.com/PrismJS/prism/issues/1132) */
    display: inline-block;
}

.filter:focus {
    z-index: 5 !important;
}

.warn {
    border: 1px solid red;
    box-shadow:red 0px 0px 10px 2px;
    z-index: 9999;
}

.warn:focus {
    border: 1px solid red;
    box-shadow:red 0px 0px 10px 2px;
    z-index: 9999;
}

.warning-query {
    display: none;
    z-index: 9999;
    position: absolute;
    background: white none repeat scroll 0% 0%;
    border: 1px solid grey;
    padding: 10px 15px 10px 10px;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid grey;
    top: -50px;
    box-shadow: 0px 0px 15px 1px grey;
}

.warning-query:before {
    content: '';
    z-index: 9999;
    width: 100px;
    height: auto;
    -webkit-border-radius: 50px / 25px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    border-top: 8px solid grey;
    position: relative;
    bottom: -40px;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
}

.warning-filter{
    display: none;
    z-index: 9999;
    position: absolute;
    background: white none repeat scroll 0% 0%;
    border: 1px solid grey;
    padding: 10px 13px 10px 10px;
    border-radius: 10px;
    margin: 5px;
    border: 2px solid grey;
    top: -3px;
    right: 260px;
    box-shadow: 0px 0px 15px 1px grey;
}

.warning-filter:before {
    content: '';
    z-index: 9999;
    width: 100px;
    height: auto;
    -webkit-border-radius: 50px / 25px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    border-top: 8px solid grey;
    position: relative;
    bottom: -40px;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
}

.show {
    display: block !important;
}

mark {
    /* highlight marks with gray */
    background-color: rgba(0,0,0,0.1);
    /* don't add horizontal padding, it breaks monospace */
    padding: .2em 0;
    /* don't reset the color to black */
    color: inherit;
    /* make it easier to see where one mark ends and another begins */
    border-radius: 4px;
    box-shadow: 0px 0px 0px 0.5px rgba(255,255,255,0.5) inset;
}

code[class*="language-"] {
    /* the shadow looks ugly when combined with marks */
    text-shadow: none !important;
}

h5 {
    /* add space between search results */
    margin-top: 2em;
}
